h1 {
    text-align: center;
    color:purple;
    font-size: 50px;
    font-family: lobster,cursive;
}

body, html {
    height: 100%;
   
}

.bg { 
    /* The image used */
    background-image: url("dna-repair-illustration_3x2.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg1 {
    background-image: url("background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav {
    
}

h2 {
    text-align: center;
    color:red;
    font-size: 30px;
    font-family: Lobster,cursive;
    
}

h3 {
    font-family: lobster,cursive;

}

p {
    font-family: lobster, cursive;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
    width: 200px;
  background-color: #f1f1f1;
}

li {
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.center {
  margin: auto;
  width: 30%;
  text-align: center;
  border: 3px solid green;
  padding: 10px;
}
